<ul class="toolbar" data-textarea="{{ textarea_id }}">
    <li>
        <a href="javascript:void(0);" onclick="edit.bold(this);">
            <b>Ж</b>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" onclick="edit.italic(this);">
            <i>К</i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" onclick="edit.underlined(this);">
            <u>Ч</u>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" onclick="edit.strikeouted(this);">
            <s>З</s>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" onclick="edit.heading(this);">
            <i class="fa-solid fa-heading"></i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" onclick="edit.link(this);">
            <i class="fa-solid fa-link"></i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" onclick="edit.list(this);">
            <i class="fa-solid fa-list-check"></i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" onclick="edit.picture(this);">
            <i class="fa-solid fa-photo-film"></i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" onclick="edit.linebreak(this);">
            <i class="fa-solid fa-arrows-left-right-to-line"></i>
        </a>
    </li>
</ul>
